In [30]:
import os
import pandas as pd

In [31]:
path = 'F:\\TLE\\RESULT\\CSV'
folders = os.listdir(path)

In [32]:
folders

['tle1959',
 'tle1960',
 'tle1961',
 'tle1962',
 'tle1963',
 'tle1964',
 'tle1965',
 'tle1966',
 'tle1967',
 'tle1968',
 'tle1969',
 'tle1970',
 'tle1971',
 'tle1972',
 'tle1973',
 'tle1974',
 'tle1975',
 'tle1976',
 'tle1977',
 'tle1978',
 'tle1979',
 'tle1980',
 'tle1981',
 'tle1982',
 'tle1983',
 'tle1984',
 'tle1985',
 'tle1986',
 'tle1987',
 'tle1988',
 'tle1989',
 'tle1990',
 'tle1991',
 'tle1992',
 'tle1993',
 'tle1994',
 'tle1995',
 'tle1996',
 'tle1997',
 'tle1998',
 'tle1999',
 'tle2000',
 'tle2001',
 'tle2002',
 'tle2003',
 'tle2004',
 'tle2005',
 'tle2006',
 'tle2007',
 'tle2008',
 'tle2009',
 'tle2010',
 'tle2011',
 'tle2012',
 'tle2013',
 'tle2014',
 'tle2015',
 'tle2016',
 'tle2017',
 'tle2018',
 'tle2019',
 'tle2020',
 'tle2021',
 'tle2022']

In [33]:
df_dict = {}
for folder in folders:
    year = folder[3:]
    files = os.listdir(f'F:\\TLE\\RESULT\\CSV\\{folder}')
    name_list = []
    for file in files:
        if int(year)<2005:
            name = file[0:-9]
        elif int(year)>=2005 and int(year)<2022:
            name = file[0:-10]
        else:
            name = file[0:-9]
        name_list.append(name)
    df_dict[year] = pd.DataFrame({'id':name_list})

In [34]:
df_dict['2022']

          id
0      10000
1      10001
2      10002
3       1000
4      10010
...      ...
26880   9986
26881   9987
26882   9988
26883   9989
26884   9998

[26885 rows x 1 columns]

In [35]:
length_dict = {}
add_dict = {}
remove_dict = {}
year_dict = []
for i,item in enumerate(df_dict):
    year_dict.append(item)
    length_dict[item] = df_dict[item].shape[0]
    if i == 0:
        add_dict[item]=0
        remove_dict[item]=0
        df1 = df_dict[item]
    else:
        df2 = df_dict[item]
        df_merge = pd.merge(df1,df2,how='inner')
        add_dict[item] = df2.shape[0]-df_merge.shape[0]
        remove_dict[item] = df1.shape[0]-df_merge.shape[0]
        df1 = df2

In [36]:
df_info = pd.DataFrame({'year':year_dict,'number':list(length_dict.values()),'add_number':list(add_dict.values()),'remove_number':list(remove_dict.values())})

In [40]:
df_info.to_csv('satellite_statistic.csv')

In [42]:
import pickle
catalog_file = 'E:\\OneDrive\\Studium\\M5-AktuelleGeodaetischeSatellitenmissionen\\Seminar-Aktuelle-Geodaetische-Satelliten-missionen\\Project_Space_Debris\\Ordner_Yu\\Data\\SpaceData.pkl'
df_2022 = df_dict['2022']
with open(catalog_file,'rb') as f:
    catalog_dict = pickle.load(f)
df_catalog = pd.DataFrame(catalog_dict)
df_catalog_valid = df_catalog[pd.notna(df_catalog.satno)]

       satno   cosparId                  objectClass     mass   xSectAvg
0        1.0  1957-001A                  Rocket Body  3964.32  59.831632
1        2.0  1957-001B                      Payload    82.85   0.264200
2        3.0  1957-002A                      Payload   503.77   1.963495
3        4.0  1958-001A                      Payload    13.88   0.247989
4        5.0  1958-002B                      Payload     1.46   0.020106
...      ...        ...                          ...      ...        ...
64495    NaN       None  Rocket Fragmentation Debris      NaN        NaN
64496    NaN       None  Rocket Fragmentation Debris      NaN        NaN
64497    NaN       None  Rocket Fragmentation Debris      NaN        NaN
64498    NaN       None  Rocket Fragmentation Debris      NaN        NaN
64499    NaN       None  Rocket Fragmentation Debris      NaN        NaN

[64500 rows x 5 columns]

In [49]:
df_catalog.to_csv('catalog.csv')

In [48]:
df_catalog.satno.astype(int)
df_catalog

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [43]:
df_2022

          id
0      10000
1      10001
2      10002
3       1000
4      10010
...      ...
26880   9986
26881   9987
26882   9988
26883   9989
26884   9998

[26885 rows x 1 columns]

In [47]:
df_merge = pd.merge(df_2022,df_catalog,how='left',left_on='id',right_on='satno')

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat