In [3]:
import os

import pandas as pd

In [4]:
path = 'E:\\OneDrive\\TLEs'
folders = os.listdir(path)

In [5]:
folders

['final_mat_files',
 'new_tle1959.txt',
 'new_tle1960.txt',
 'new_tle1961.txt',
 'new_tle1962.txt',
 'new_tle1963.txt',
 'new_tle1964.txt',
 'new_tle1965.txt',
 'new_tle1966.txt',
 'new_tle1967.txt',
 'new_tle1968.txt',
 'new_tle1969.txt',
 'new_tle1970.txt',
 'new_tle1971.txt',
 'new_tle1972.txt',
 'new_tle1973.txt',
 'new_tle1974.txt',
 'new_tle1975.txt',
 'new_tle1976.txt',
 'new_tle1977.txt',
 'new_tle1978.txt',
 'new_tle1979.txt',
 'new_tle1980.txt',
 'new_tle1981.txt',
 'new_tle1982.txt',
 'new_tle1983.txt',
 'new_tle1984.txt',
 'new_tle1985.txt',
 'new_tle1986.txt',
 'new_tle1987.txt',
 'new_tle1988.txt',
 'new_tle1989.txt',
 'new_tle1990.txt',
 'new_tle1991.txt',
 'new_tle1992.txt',
 'new_tle1993.txt',
 'new_tle1994.txt',
 'new_tle1995.txt',
 'new_tle1996.txt',
 'new_tle1997.txt',
 'new_tle1998.txt',
 'new_tle1999.txt',
 'new_tle2000.txt',
 'new_tle2001.txt',
 'new_tle2002.txt',
 'new_tle2003.txt',
 'new_tle2004.txt',
 'origin',
 'tle2005.txt',
 'tle2006.txt',
 'tle2007.txt',
 'tle2008.txt',
 'tle2009.txt',
 'tle2010.txt',
 'tle2011.txt',
 'tle2012.txt',
 'tle2013.txt',
 'tle2014.txt',
 'tle2015.txt',
 'tle2016.txt',
 'tle2017.txt',
 'tle2018.txt',
 'tle2019.txt',
 'tle2020.txt',
 'tle2021.txt',
 'tle2022_sofar.txt']

In [12]:
df_dict = {}
for folder in folders:
    if (folder == 'final_mat_files') or (folder == 'origin'):
        continue
    if folder == 'tle2022_sofar.txt':
        year = '2022'
    else:
        year = folder[-8:-4]
    files = os.listdir(f'E:\\OneDrive\\TLEs\\{folder}')
    name_list = []
    for file in files:
        name = file[0:-12]
        name_list.append(name)
    df_dict[year] = pd.DataFrame({'id':name_list})

In [20]:
length_dict = {}
add_dict = {}
remove_dict = {}
year_dict = []
for i,item in enumerate(df_dict):
    year_dict.append(item)
    length_dict[item] = df_dict[item].shape[0]
    if i == 0:
        add_dict[item]=0
        remove_dict[item]=0
        df1 = df_dict[item]
    else:
        df2 = df_dict[item]
        df_merge = pd.merge(df1,df2,how='inner')
        add_dict[item] = df2.shape[0]-df_merge.shape[0]
        remove_dict[item] = df1.shape[0]-df_merge.shape[0]
        df1 = df2

In [22]:
df_info = pd.DataFrame({'year':year_dict,'number':list(length_dict.values()),'add_number':list(add_dict.values()),'remove_number':list(remove_dict.values())})

In [25]:
df_info[df_info['year'] =='2005']

    year  number  add_number  remove_number
46  2005   16714        8085            152

In [28]:
df_info[df_info['year'] =='2006']

    year  number  add_number  remove_number
47  2006   12290        2667           7091

In [29]:
df_info.to_csv('satellite_statistic.csv')